:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header, footer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center   
}

header {
    padding: 0 22px;
}

footer {
    padding: 0 18px;
}

main {
    background-color: #f3f3f3;
    height: calc(100vh - 160px);
    padding-top: 26px;
}

main div {
    padding: 12px 9px;
    margin-bottom: 4px;
}

.system {
    background-color: #DCDCDC;
}

.public {
    background-color: #FFFFFF;
}

.reserved {
    background-color: #FFDEDE;
}

aside, section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
}

aside {
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: flex-end;
}

aside div {
    width: 260px;
    background-color: white;
}

.hidden {
    display: none
}

section {
    background-color: white;
    z-index: 2;
    flex-direction: column;
    align-items: center;
}