header, footer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center   
}

header {
    padding: 0 22px;
}

footer {
    padding: 0 18px;
}

main {
    background-color: #f3f3f3
}

main div {
    padding: 12px 9px;
    margin-bottom: 4px;
}

.system {
    background-color: #DCDCDC;
}

.public {
    background-color: #FFFFFF;
}

.reserved {
    background-color: #FFDEDE;
}