:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

button {    
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: inherit;
    padding: 0;
}
button * {
    display: block
}

header, footer form {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    font-size: 45px;
    width: 100vw;
    position: fixed;
    background-color: white;
}

header {
    padding: 0 22px;
    top: 0;
}
header img {
    height: 53px
}

footer form {
    padding: 0 18px;
    bottom: 0
}

footer input {
    height: 30px;
    font-size: 18px;
    border: none;
}

main {
    background-color: #f3f3f3;
    height: calc(100vh - 160px);
    padding-top: 26px;
    overflow: auto;
    margin-top: 80px
}

main div {
    padding: 12px 9px;
    margin-bottom: 4px;
}

.status {
    background-color: #DCDCDC;
}

.message {
    background-color: #FFFFFF;
}

.private_message {
    background-color: #FFDEDE;
}

aside, section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
}

aside {
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: flex-end;
}

aside div {
    width: 260px;
    background-color: white;
}

.hidden {
    display: none
}

section {
    background-color: white;
    z-index: 2;
    flex-direction: column;
    align-items: center;
}